.survey-screen {
  width: 50%;
  margin: 0 auto;
  padding-top: 20px;
}
.survey-screen__question {
  font-size: 2em;
  font-weight: bold;
  color: rgb(53, 53, 53);
}
form {
  margin-top: 15px;
}
input[type="radio"] {
  margin-right: 5px;
}
form > p {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
input[type="submit"],
input[type="reset"] {
  width: 35%;
  margin: 0 auto 5px;
  background-color: #c6c2d4;
  border: none;
  color: #3a325c;
  box-shadow: 2px 2px 2px rgba(57, 36, 59, 0.4);
}
input[type="submit"]:hover,
input[type="reset"]:hover {
  cursor: pointer;
  background-color: #3a325c;
  color: #c6c2d4;
}
